<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 class="page-header">Top250</h1>

    <div class="list-group">
        <a href="#" class="list-group-item " ng-repeat="item in subjects">
            <span class="badge">{{item.rating.average}}</span>

            <div class="media">
                <div class="media-left">
                    <img class="media-object" ng-src={{item.images.small}} alt="...">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">名称:{{item.title}}</h4>
                    <span class="media-heading" ng-repeat="i in item.genres">{{i}}&nbsp;&nbsp;</span>
                    <h4 class="media-heading">导演:{{item.directors[0].name}}</h4>
                </div>
            </div>
        </a>

    </div>
</body>
</html>